.debug-container {
  margin-bottom: 2rem;
}

.game-container {
  display: flex;

  .game {
    display: flex;
  }

  .square {
    padding: 0.5rem;

    &.player {
      background-color: orange;
    }

    &.wall {
      background-color: lightcoral;
    }

    &.open {
      background-color: lightblue;
    }

    &.goal {
      background-color: lightgreen;
    }
  }
}
