.debug-container {
  margin-bottom: 2rem;
}

.game-container {
  display: flex;

  .game {
    display: flex;
  }

  .square {
    padding: 0.5rem;
    min-height: 2rem;
    min-width: 2rem;

    &.open {
      background-color: lightblue;
    }

    &.wall {
      background-color: lightcoral;
    }

    &.goal {
      background-color: lightgreen;
    }

    &.player {
      background-color: orange;
    }
  }
}

.other {
  .result {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: purple;
    transition: background-color 0.2s;

    &.red {
      background-color: red;
    }

    &.yellow {
      background-color: yellow;
    }

    &.green {
      background-color: green;
    }
  }
}
